.slider__control_type_next
	right 130px
	
	&:after
		content ''
		position absolute
		top 18px
		right 13px
		
		width 20px
		height 20px
		border-right 1px solid #777
		border-bottom 1px solid #777
		
		transform rotate(-45deg)