.slider__control_type_prev
	left auto
	right calc(130px + 55px)
	
	&:after
		content ''
		position absolute
		top 18px
		left 13px
		
		width 20px
		height 20px
		border-left 1px solid #777
		border-top 1px solid #777
		
		transform rotate(-45deg)