.slider_theme_demo
	
	.slider__control
		box-shadow 0 0 5px #bbb
		opacity 0.7
		transition opacity 0.5s ease-out

		&:hover
			opacity 0.5		
	.slider__control_type_prev
		border-radius 0 50% 50% 0
	.slider__control_type_next
		border-radius 50% 0 0 50%


	.slider__toggle
		border-radius 50%
		box-shadow 0 0 5px #bbb
		opacity 0.7
		transition opacity 0.5s ease-out
		
		&:hover
			opacity 0.5
	.slider__toggle_selected
		opacity 0.3